---
permalink: /robots.txt
eleventyExcludeFromCollections: true
---
User-agent: *
Allow: /

Sitemap: {{ site.domain }}/sitemap.xml

# A structured summary of this site for LLMs lives at {{ site.domain }}/llms.txt
